{% extends 'base.html' %}

{% block content %}
<table class="table">
        <thead>
            <tr>
                <th scope="col">hostname</th>
                <th scope="col">status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ device }}</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger">DELETED</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}