{% extends 'base.html' %}
{% block content %}
<h5>devices</h5>
<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">hostname</th>
            <th scope="col">environment</th>
            <th scope="col">operating system</th>
            <th scope="col">actions</th>
        </tr>
    </thead>
    <tbody>
    {% if devices %}
    {%   for item in devices %}
        <tr>
            <th scope="row"><a href="/devices/{{ item.id }}/">{{ item.id }}</a></th>
            <td>{{ item.name }}</td>
            <td>{{ item.environment }}</td>
            <td>{{ item.os_type }}</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/devices/{{ item.id }}/delete/">Delete</a>
                    </div>
                </div>
            </td>
        </tr>
    {%   endfor %}
    {% endif %}
    </tbody>
</table>
{% endblock %}