{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="accordion" id="deviceAccordian">

        <div class="card">
            <div class="card-header" id="deviceHeading">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseDevice" aria-expanded="true" aria-controls="collapseDevice">
                        device
                    </button>
                </h2>
            </div>

            <div id="collapseDevice" class="collapse show" aria-labelledby="deviceHeading" data-parent="#deviceAccordian">
                <div class="card-body">
                    {% include 'lab/modals/device.html' %}
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="interfacesHeading">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseInterfaces" aria-expanded="false" aria-controls="collapseInterfaces">
                        interfaces
                    </button>
                </h2>
            </div>

            <div id="collapseInterfaces" class="collapse show" aria-labelledby="interfacesHeading" data-parent="#deviceAccordian">
                <div class="card-body">
		            {% include 'lab/device/interfaces.html' %}
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="deviceMappingsHeading">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseDeviceMappings" aria-expanded="false" aria-controls="collapseDeviceMappings">
                        interface mappings
                    </button>
                </h2>
            </div>

            <div id="collapseDeviceMappings" class="collapse show" aria-labelledby="deviceMappingsHeading" data-parent="#deviceAccordian">
                <div class="card-body">
		            {% include 'lab/device/interface-mappings.html' %}
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
