{% extends 'base.html' %}

{% block content %}
{%   if device %}
<form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="hostname">hostname</label>
            <input class="form-control" type="text" name="device" placeholder="{{ device.device }}">
            <label for="environment">environment</label>
            <select name="environment" class="form-control">
                    <option>{{ device.environment }}</option>
            </select>
            <label for="os_type">operating system</label>
            <input class="form-control" type="text" name="os_type" placeholder="{{ device.os_type }}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
</form>
{%   else %}
<form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="hostname">hostname</label>
            <input class="form-control" type="text" name="device" placeholder="router.dc1">
            <label  for="environment">environment</label>
            <select name="environment" class="form-control">
                    <option value="PROD">PROD</option>
                    <option value="LAB">LAB</option>
            </select>
            <label for="os_type">operating system</label>
            <input name="os_type" class="form-control" type="text" placeholder="iosxr">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
</form>
{%   endif %}
{% endblock %}